package ${pkg_name};

import javax.annotation.ManagedBean;
import javax.annotation.processing.Generated;
import javax.enterprise.context.ConversationScoped;
import javax.inject.Named;

import entity.EntityHome;

import ${entityClazz.name};

@Stateful @Named @ConversationScoped
@Generated(value="entitygen.JenGen", date="${now}")
public class ${EntityClassUC}Home extends EntityHome<${EntityClassUC},Long> {
	
	private static final long serialVersionUID = 1L;

	public void wire(String id) {
		super.wire(Long.parseLong(id));
	}

	@Override
	public ${EntityClassUC} newInstance() {
		return new ${EntityClassUC}();
	}

	@Override
	public String getListPage() {
		return "${EntityClassUC}List";
	}
}
