<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/template/template.xhtml">

<ui:define name="pageTitle">${EntityClassUC} List</ui:define>
<ui:define name="body">

	<p:panel>
	<f:facet name="header">${EntityClassUC}</f:facet>

	<!-- Display the main part of the whole page. -->
	<p:dataTable border='1' 
		var="_entity" value="#{${EntityClassLC}List.findAll()}" 
		paginator="true" rows="#{pfTableConstants.rows}"
		paginatorTemplate="#{pfTableConstants.paginatorTemplate}"
		rowsPerPageTemplate="#{pfTableConstants.rowsPerPageTemplate}"
		>
		<p:column width="5%">
			<f:facet name="header">Id</f:facet>
			<h:outputText value="#{_entity.id}"/>
		</p:column>
		
#foreach ($field in ${entityClazz.declaredFields})
#if (${field.name} != "id")
		<p:column>
			<f:facet name="header">${field.name}</f:facet>
			<h:outputText value="#{_entity.${field.name}}"/>
		</p:column>
#end
#end

		<!-- Last column: action buttons -->
		<p:column style="width: 15%">
			<f:facet name="header">Operations</f:facet>
			<h:outputLink value="${EntityClassUC}View.web">
				View
				<f:param name="${EntityClassLC}Id" value="#{_entity.id}"/>
			</h:outputLink>
			<h:outputLink value="${EntityClassUC}Edit.web">
				Edit
				<f:param name="${EntityClassLC}Id" value="#{_entity.id}"/>
			</h:outputLink>
		</p:column>
	</p:dataTable>
	<h:form>
	<p:button outcome="${EntityClassUC}Edit.web" value="Add"/>
	</h:form>
	</p:panel>
</ui:define>
</ui:composition>
